@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@300;700&display=swap');
$color: #ffffff;
$colorYellow: #ffe66b;
$background: linear-gradient(to right top, #0c0add, #4d4f8e, #6272dd, #195dd3, #0b08a1);

* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
  }

  body {
    height: 100vh;
    color: $color;
    font-family: 'Grenze', serif;
    text-align: center;
    overflow: hidden;
    font-size: 3.5rem;
  }

 ul, li {
  list-style: none;
 }

  a {
    text-decoration: none;
    color: $color;
  }

  a:hover {
    color: $colorYellow;
  }

  %screen-width {
    width: 100vw;
    height: 100vh;
    background: $background;
  }

  %screen-padding {
    padding-top: 20%;
  }

  .screen {
    @extend %screen-width;
    @extend %screen-padding;
  }

  .screen__game {
    padding: 70px;
  }

  .screen.up {
    margin-top: -100vh;
  }

  .heading {
    font-size: 6rem;
  }

.title {
  font-size: 6rem;
  margin-bottom: 50px;
}

.list__buttons {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
}

.button__time {
    width: 190px;
    height: 60px;
    text-align: center;
    color: $color;
    letter-spacing: 1px;
    font: {
      size: 1.5rem;
      weight: bold;
    }
    border: none;
    border-radius: 16px;
    background-color: $colorYellow;
    cursor: pointer;
    outline: none;
    transition: 0.5s all;
    color: blue;
    &:hover {
        width: 220px;
        height: 70px;
        background-color: blue;
        color: $colorYellow;
    }
    &:active {
        background-color: deepskyblue;
    }
    &:focus {
        font-size: 1.75rem;
        font-weight: bold;
        color: red;
    }
  }

  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
    box-shadow: -10px -10px 23px #2A333D, 12px 10px 23px #475462;
    border-radius: 30px;
    overflow: hidden;
  }

  .circle {
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
  }

  .primary {
    color: $colorYellow;
  }

  .hide {
    opacity: 0;
}

@media screen and (max-width: 1440px) {
    .screen__game {
      padding: 25px;
  }

    .board {
      height: 400px;
      margin-top: 25px;
  }
}

@media screen and (max-width: 871px) {
  .screen {
    padding-top: 30%;
  }

  .title {
    font-size: 4.5rem;
  }

  .list__buttons {
    width: 690px;
  }

  .button__time {
    width: 150px;
    height: 55px;
    &:hover {
      width: 180px;
      height: 65px;
    }
  }
}

@media screen and (max-width: 671px) {
  .heading {
    font-size: 4.5rem;
  }

  .title {
    font-size: 4rem;
}

  .list__buttons {
    display: block;
    width: 160px;
    padding: 0;
  }

.board {
  width: 360px;
  box-shadow: -3px -3px 7px #2A333D, 3px 3px 7px #475462;
}

h3 {
  font-size: 1.1rem;
}
}

@media screen and (max-width: 391px) {

  .screen {
    padding-top: 40%;
  }

  .heading {
    font-size: 3.1rem;
}


.title {
  font-size: 3.2rem;
}

.board {
  width: 280px;
}
}

